@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@500&display=swap");
/* Variables */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.609)), to(rgba(0, 0, 0, 0.609))), url(img/storm.gif);
  background-image: linear-gradient(rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.609)), url(img/storm.gif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: 'Enriqueta', serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background-color: #c0af4f;
  opacity: 0.4;
  border-bottom: 2px solid #202020;
}

header .title {
  margin-left: 170px;
  font-size: 30px;
  color: #202020;
  font-weight: bold;
  text-shadow: 2px 2px 3px #292929;
}

header form {
  margin-right: 170px;
}

header form input,
header form button {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #3a3a3a;
  height: 35px;
  -webkit-box-shadow: 4px 7px 10px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 7px 10px 2px rgba(0, 0, 0, 0.75);
}

header input {
  width: 350px;
}

form input::-webkit-input-placeholder {
  text-align: left;
  color: #fff;
  text-indent: 10px;
}

form input:-ms-input-placeholder {
  text-align: left;
  color: #fff;
  text-indent: 10px;
}

form input::-ms-input-placeholder {
  text-align: left;
  color: #fff;
  text-indent: 10px;
}

form input::placeholder {
  text-align: left;
  color: #fff;
  text-indent: 10px;
}

form input:focus {
  color: #fff;
}

form button {
  width: 80px;
  color: #fff;
  margin-left: 10px;
}

form button:focus {
  outline: none;
}

form button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c0af4f;
  opacity: 0.6;
  -webkit-animation: fade-in 2.5s;
          animation: fade-in 2.5s;
}

.container .left {
  margin-top: 80px;
  margin-left: 50px;
}

.container .left img {
  width: 100px;
}

.container .left h1 {
  margin-left: 120px;
  margin-top: -85px;
  font-size: 70px;
}

.container .right {
  margin-top: 120px;
  margin-right: 50px;
}

.container .right p {
  font-size: 110%;
  font-weight: bold;
}

.five-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 150px;
  color: #c0af4f;
  opacity: 0.6;
  -webkit-animation: fade-in 2.5s;
          animation: fade-in 2.5s;
}

.five-days .one-day {
  border: 2px solid #92863f;
  border-radius: 5px;
  width: 100px;
  display: inline-block;
  text-align: center;
  background-color: #c0af4f;
  color: #202020;
  opacity: 0.7;
  -webkit-box-shadow: 10px 10px #0c0b0b;
          box-shadow: 10px 10px #0c0b0b;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    color: #c0af4f;
    opacity: 0.6;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    color: #c0af4f;
    opacity: 0.6;
  }
}

/*Media queries*/
@media (max-width: 768px) {
  header .title {
    margin-left: 50px;
  }
  header form {
    width: 40%;
    margin-right: 10px;
  }
  header form input,
  header form button {
    height: 25px;
  }
  header form input {
    width: 180px;
  }
  header form button {
    width: 80px;
  }
  .container .left h2 {
    font-size: 200%;
  }
  .container .left h5 {
    font-size: 100%;
  }
  .container .left img {
    width: 80px;
  }
  .container .left h1 {
    margin-top: -55px;
    font-size: 200%;
  }
  .container .right p {
    font-size: 100%;
  }
  .five-days {
    margin-top: 170px;
  }
}

@media (max-width: 640px) {
  header .title {
    margin-left: 20px;
  }
  header form {
    margin-right: 20px;
  }
  header form input {
    width: 160px;
  }
  .five-days {
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  header .title {
    font-size: 150%;
  }
  header form button {
    margin-left: 35px;
    margin-top: 5px;
  }
  .container {
    margin-top: 0;
  }
  .five-days {
    width: 70%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px 70px;
    font-size: 60%;
    padding-top: 20px;
  }
  .one-day {
    margin-top: 10px;
  }
}

@media (max-width: 360px) {
  header {
    width: 100%;
  }
  header .title {
    font-size: 120%;
  }
  header form {
    margin-right: 35px;
  }
  header form input,
  header form button {
    height: 20px;
  }
  .container {
    display: block;
  }
  .container .left {
    margin: 30px 80px;
  }
  .container .left h2 {
    font-size: 180%;
  }
  .container .left h5 {
    font-size: 100%;
  }
  .container .left img {
    width: 80px;
  }
  .container .left h1 {
    font-size: 200%;
    margin-left: 100px;
  }
  .container .right {
    margin: 50px 100px 20px 100px;
  }
  .five-days {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px 55px;
    font-size: 60%;
    padding-top: 40px;
  }
  .one-day {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */